.header-ejercicio {
  padding: 1rem;
  margin-top: 1rem;
}
.container {
  max-width: 1200px;
}
.header-primerosRectangulo {
  display: flex;
  height: 6rem;
  margin: 1rem 1rem 2rem 1rem;
}
.header-primerosCuadros-logo {
  text-align: start;
  padding: 1rem 10rem 1rem 1rem;
  margin: 2rem 1rem 2rem 2rem;
}
.header-primerosCuadros-logo:hover {
  background-color: rgb(255, 46, 213) !important;
  transform: scale(1.2);
}
.header-primerosCuadros-nav {
  padding: 1rem 39rem 1rem 1rem;
  margin: 2rem 1rem 2rem 1rem;

  text-align: start;
}
.header-primerosCuadros-social {
  text-align: start;
  padding: 1rem 10rem 1rem 1rem;
  margin: 2rem 0rem 2rem 1rem;
  text-align: start;
}

.header-segundoRectangulo {
  height: 7rem;
  margin: 1rem;
  padding: 1rem;
}
.header-primerosCuadros-banner {
  background-color: yellow;
  margin: 0.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 2rem;
  text-align: start;
}

.body-container {
  margin-top: 1rem;
  padding: 1rem 4rem 1rem 0;
  display: flex;
}

.body-rectangulo-gris {
  margin: 1rem 0 1rem 2rem;
}
.body-rectangulos-azules {
  display: flex;
}

.body-rectangulos-azules-articles {
  background-color: rgb(41, 77, 135);
  padding: 1rem 23rem 1rem 1rem;
  margin: 1rem 1rem 2rem 2rem;
}
.body-rectangulo-azul-claro {
  background-color: rgb(123, 187, 190);
  margin: 0rem 1rem 1rem 2rem;
  padding: 1rem 2rem 1rem 1rem;
}

.body-rectangulo-rojo-publi {
  margin: 1rem 0rem 1rem 3rem;
  padding: 1rem 1rem 0 1rem;
}
.body-rectangulo-rojo-publi-amarillos {
  background-color: yellow;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 4rem 1rem 1rem;
}

.body-footer-rectangulo-negro {
  margin: 1rem 0rem 1rem 0rem;
  padding: 2rem 2rem 1rem 2rem;
}

.body-footer-rectangulo-beige {
  background-color: rgb(198, 198, 162);
  padding: 1rem 0rem 1rem 1rem;
}

/*query mobile*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .background {
    background-color: rgb(195, 202, 202);
  }
  .header-ejercicio {
    margin: 2rem 3rem 2rem 3rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .header-primerosRectangulo {
    display: block !important;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 15rem 1rem;
  }
  .header-primerosCuadros-logo {
    padding: 1rem 14rem 1rem 1rem;
    margin: 1rem 0rem 0rem 0.5rem;
  }
  .header-primerosCuadros-nav {
    padding: 1rem 14rem 1rem 1rem;
    margin: 1rem 0rem 0rem 0.5rem;
  }
  .header-primerosCuadros-social {
    padding: 1rem 14rem 1rem 1rem;
    margin: 1rem 0rem 0rem 0.5rem;
  }
  .header-primerosCuadros-banner {
    background-color: rgb(239, 239, 99);
    margin-left: 1rem;
  }
  /*body*/
  .body-container {
    display: block;
    margin: 2rem 3rem 2rem 3rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .body-rectangulo-gris {
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 2rem 1rem;
    display: block;
  }

  .body-rectangulos-azules {
    display: block;
  }
  .body-rectangulos-azules-articles {
    padding: 1rem 14rem 1rem 1rem;
    margin: 1rem 0rem 0rem 0.5rem;
  }

  .body-rectangulo-azul-claro {
    padding: 1rem 14rem 1rem 1rem;
    margin: 1rem 0rem 0rem 0.5rem;
  }

  .body-rectangulo-rojo-publi {
    margin: 2rem 1rem 1rem 1rem;
    padding: 1rem 1rem 2rem 1rem;
  }
  .body-rectangulo-rojo-publi-amarillos {
    text-align: start;
    padding: 1rem 14rem 1rem 1rem;
    margin: 1rem 0rem 0rem 0.5rem;
  }
  .body-footer-rectangulo-negro {
    margin: 1rem 3rem 2rem 3rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .body-footer-rectangulo-beige {
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }
}

/* tablet*/
@media screen and (min-width: 992px) and (max-width: 1023px) {
  .background {
    background-color: rgb(131, 229, 229);
  }
  .header-ejercicio {
    margin: 2rem 1rem 2rem 0rem;
    padding: 1rem 1rem 3rem 1rem;
  }
  .header-primerosRectangulo {
    display: block;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 22rem 1rem;
  }
  .header-primerosCuadros-logo {
    margin: 2rem 1rem 1rem 1rem;
    padding: 1rem 1rem 2rem 1rem;
  }
  .header-primerosCuadros-nav {
    margin: 2rem 1rem 1rem 1rem;
    padding: 1rem 1rem 2rem 1rem;
  }
  .header-primerosCuadros-social {
    margin: 2rem 1rem 1rem 1rem;
    padding: 1rem 1rem 2rem 1rem;
  }
  .header-segundoRectangulo {
    margin: 2rem 1rem 1rem 1rem;
  }
  .header-primerosCuadros-banner {
    margin: 1rem 1rem 1rem 1rem;
    padding: 0.5rem 1rem 0rem 0.3rem;
  }

  .body-container {
    margin: 2rem 1rem 2rem 0rem;
    padding: 1rem 1rem 1rem 1rem;
    display: block;
  }

  .body-rectangulo-gris {
    margin: 1rem 1rem 1rem 1rem;
    padding: 0rem 1rem 1rem 1rem;
  }

  .body-rectangulos-azules {
    display: flex;
  }
  .body-rectangulos-azules-articles {
    margin: 2rem 0 0 1rem;
    padding: 1rem 20rem 1rem 1rem;
  }

  .body-rectangulo-azul-claro {
    margin: 2rem 1.2rem 1rem 1rem;
    padding: 1rem 18rem 1rem 1rem;
  }

  .body-rectangulo-rojo-publi {
    margin: 1rem 1rem 1rem 1rem;
    padding-bottom: 1rem;
  }

  .body-footer-rectangulo-negro {
    margin-right: 1rem;
  }
  .body-footer-rectangulo-beige {
    padding: 1rem 0 1rem 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
}
