.header-ejercicio {
  padding: 1rem;
  margin-top: 1rem;
}
.header-primerosRectangulo {
  height: 6rem;
  margin: 1rem 1rem 2rem 1rem;
}
.header-primerosCuadros-logo {
  width: 35rem;
  height: 4rem;
  margin-left: 3rem;
  margin-right: 0rem;
  padding-left: 1rem;
  text-align: start;
  border: 0;
}
.header-primerosCuadros-logo:hover {
  background-color: rgb(255, 46, 213);
  transform: scale(1.2);
}
.header-primerosCuadros-nav {
  width: 90rem;
  height: 4rem;
  margin-left: 2rem;
  padding-right: 15rem;
  padding-left: 1rem;
  border: 0;
}
.header-primerosCuadros-social {
  width: 35rem;
  height: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 1rem;
  text-align: start;
  border: 0;
}

.header-segundoRectangulo {
  height: 6rem;
  margin: 1rem;
  padding: 1rem;
}
.header-primerosCuadros-banner {
  background-color: yellow;
  height: 1rem;
  width: 94.5%;
  margin: 0.5rem 0 1rem 2rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  border: 0;
  text-align: start;
  padding-left: 1rem;
}

.body-container {
  margin-top: 2rem;
  padding: 1rem 4rem 1rem 0;
}

.body-rectangulo-gris {
  height: 20rem;
  width: 100%;
  margin: 1rem 0 1rem 2rem;
}

.body-rectangulos-azules-articles {
  background-color: rgb(41, 77, 135);
  padding: 1rem 20rem 1rem 1rem;
  margin: 2rem 3rem 0 3rem;
  
}
.body-rectangulo-azul-claro {
  background-color: rgb(123, 187, 190);
  padding-left: 1rem;
  margin-left: 3rem;
  margin-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.body-rectangulo-rojo-publi {
  background-color: red;
  height: 20rem;
  width: 13.5rem;
  margin-top: 1rem;
  margin-left: 3rem;
  padding-right: 2.5rem;
}
.body-rectangulo-rojo-publi-amarillos {
  background-color: yellow;
  text-align: center;
  width: 10rem;
  margin: 2rem;
  padding: 1rem;
}
